<!DOCTYPE html>
<html ng-app>
 <head>
  <title>Drupal REST</title>
  <script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script src="app.js"></script>
  <link rel="stylesheet" href="app.css"></link>
 </head>
 <body>
  <h3>Login</h3>
  <div ng-controller="LoginCtrl">
    <label>username</label><br>
    <input type="text" ng-model="username"><br>
    <label>password</label><br>
    <input type="password" ng-model="password"><br>
    <button ng-click="login()">Login</button>
    <button ng-click="logout()">Logout</button>
    </pre>
  </div>
  <h3>Create Node</h3>
  <div ng-controller="NodeEditCtrl">
    <label>type</label><br>
    <input type="text" ng-model="type"><br>
    <label>title</label><br>
    <input type="text" ng-model="title"><br>
    <label>body</label><br>
    <textarea ng-model="body"></textarea><br>
    <button ng-click="submit()">Submit</button>
    <pre ng-model="log">
    </pre>
  </div>

  <h3>List Nodes</h3>
  <div ng-controller="NodeListCtrl">
    <a href="" ng-click="load()">Load</a>
    <div id="node-content">
      {{activeNode.body.und[0].value}}
    </div>
    <table>
      <tr ng-repeat="n in nodes">
        <td><span ng-click="selectNode(n)">{{n.title}}</span></td>
        <td>{{n.status}}</td>
      </tr>
    </table>
  </div>
 </body>
</html>
